
<h2>Azure Storage</h2>

<h3>Decoded Token</h3>
<pre class="prettyprint lang-js">
    @ViewData["DecodedToken"]
</pre>

<h3>Blob Containers</h3>
<p>Service Response:</p>
<pre class="prettyprint lang-xml">
    @ViewData["ContainersXML"]
</pre>

<br/>