@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

HealthCheck:
<h3>@ViewData["HealthCheck"]</h3>

<p>Use this area to provide additional information.</p>

<ul>
@if (ViewData["ResourceGroups"] != null)
    {
        var rgList = (List<string>)ViewData["ResourceGroups"];
        foreach (var i in rgList)
        { 
        <li>@i</li>
        }        
    }
</ul>
